<div class="o-layout__full c-container c-container--primary u-padding-bottom-none">
  <div class="c-container__image-left">
    {% image "jpg", "team", "alt text", "c-image--about" %}
  </div>

  <div class="o-layout c-container__content">
    <div class="o-layout__pre-cta o-flow">
      <h1 class="c-intro">Sail with us!</h1>
      <p class="c-lead">
        We believe that software design is a continuous process of matching the needs of your users with your business goals and engineering roadmap. And no, that is never a smooth sail, but we are always on your side.
      </p>
      <p class="c-lead">
        <strong>If you’re bobbing around in client requests, prioritization and interface patterns, let us know. We’ll come and save your soul!</strong>
      </p>
    </div>
  </div>
</div>

<div class="o-layout__full o-layout c-container c-container--primary">
  <div class="o-layout__cta">
    <p class="c-page-cta">
      Contact Hannes via<br> <a href="mailto:captain@smoothsailing.be" class="c-link">captain&#8203;@&#8203;smoothsailing.be</a>. <br>And be prepared for<br> endless puns.
    </p>
  </div>
</div>
