<footer class="o-row-huge c-footer" role="contentinfo">
  <div class="o-layout">
    <div class="o-layout__left o-flow c-footer__main c-rich-text">
      <ul>
        <li><a href="/disclaimer/">Disclaimer</a></li>
        <li><a href="/accessibility-statement/">Accessibility statement</a></li>
      </ul>
    </div>
    <div class="o-layout__right c-rich-text c-footer__aside">
      <p>&copy; {{ build.timestamp | dateToFormat('yyyy') }} Smooth Sailing, unless otherwise specified.</p>
    </div>
  </div>
</div>
