<header class="o-layout" role="banner">
  <div class="o-layout__full">
    <div class="c-header">
      {% if page.url == '/' %}
      <h1 class="c-brand">
        Smooth Sailing
      </h1>
      {% else %}
      <a href="/" class="c-brand c-brand--link">
        Smooth Sailing
      </a>
      {% endif %}

      <div class="c-header__group">
        <button aria-expanded="false" class="c-navigation-toggle js-nav-toggle">
          Menu
        </button>
        <nav class="c-navigation-holder js-nav">
          <ul class="c-navigation">
            <!-- Define your site navigation in data/nav.json -->
            {% for item in nav.main %}
            <li class="c-navigation__item {{ 'is-active' if item.url in page.url }}">
              <a href="{{ item.url }}" class="c-navigation__link">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="c-user-toggle">
          <div role="status" class="u-hidden-visually js-mode-status"></div>
          <button class="c-user-toggle__btn js-mode-toggle">
            <span class="c-user-toggle__light" aria-hidden="true">
              {% icon "light"  %}
            </span>
            <span class="c-user-toggle__dark" aria-hidden="true">
              {% icon "dark" %}
            </span>
            <span class="c-user-toggle__text js-mode-toggle-text">Switch light/dark mode</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
