<header class="o-layout" role="banner">
  <div class="o-layout__full">
    <div class="c-header">
      {% if page.url == '/' %}
      <h1 class="c-brand">
        <span class="c-brand__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234 234">
            <path fill-rule="evenodd" d="M117.075,234.15 C117.075,169.499 64.651,117.075 4.26325641e-14,117.075 C64.651,117.075 117.075,64.668 117.075,-1.42108547e-14 C117.075,64.668 169.499,117.075 234.15,117.075 C169.499,117.075 117.075,169.499 117.075,234.15"/>
          </svg>
        </span>
        <span class="c-brand__wordmark">
          <span class="c-brand__top">
            Smooth
          </span>
          <span class="c-brand__bottom">
            Sailing
          </span>
        </span>
      </h1>
      {% else %}
      <a href="/" class="c-brand c-brand--link">
        <span class="c-brand__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234 234">
            <path fill-rule="evenodd" d="M117.075,234.15 C117.075,169.499 64.651,117.075 4.26325641e-14,117.075 C64.651,117.075 117.075,64.668 117.075,-1.42108547e-14 C117.075,64.668 169.499,117.075 234.15,117.075 C169.499,117.075 117.075,169.499 117.075,234.15"/>
          </svg>
        </span>
        <span class="c-brand__wordmark">
          <span class="c-brand__top">
            Smooth
          </span>
          <span class="c-brand__bottom">
            Sailing
          </span>
        </span>
      </a>
      {% endif %}

      <div class="c-header__group">
        <button aria-expanded="false" class="c-navigation-toggle js-nav-toggle">
          Menu
        </button>
        <nav class="c-navigation-holder js-nav">
          <ul class="c-navigation">
            <!-- Define your site navigation in data/nav.json -->
            {% for item in nav.main %}
            <li class="c-navigation__item {{ 'is-active' if item.title == section }}">
              <a href="{{ item.url }}" class="c-navigation__link">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        {# <div class="c-user-toggle">
          <div role="status" class="u-hidden-visually js-mode-status"></div>
          <button class="c-user-toggle__btn js-mode-toggle">
            <span class="c-user-toggle__light" aria-hidden="true">
              {% icon "light"  %}
            </span>
            <span class="c-user-toggle__dark" aria-hidden="true">
              {% icon "dark" %}
            </span>
            <span class="c-user-toggle__text js-mode-toggle-text">Switch light/dark mode</span>
          </button>
        </div> #}
      </div>
    </div>
  </div>
</header>
