<header class="o-layout" role="banner">
  <div class="o-layout__full">
    <div class="c-header">
      {% if page.url == '/' %}
      <h1 class="c-brand">
        <span class="c-brand__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 145">
            <path d="M72.6516972,0.000811539295 L72.6515424,0.15211727 C72.6515424,40.1090671 105.04305,72.5005749 145,72.5005749 L145,72.6515424 C105.04305,72.6515424 72.6515424,105.04305 72.6515424,145 L72.5005749,145 L72.5005749,145 C72.5005749,105.04305 40.1090671,72.6515424 0.15211727,72.6515424 L0.001,72.6518115 L0.00168757796,72.5004218 L0.15211727,72.5005749 C40.1090671,72.5005749 72.5005749,40.1090671 72.5005749,0.15211727 L72.4991498,0.001 L72.6516972,0.000811539295 Z"/>
          </svg>
        </span>
        <span class="c-brand__wordmark">
          <span class="c-brand__top">
            Smooth
          </span>
          <span class="c-brand__bottom">
            Sailing
          </span>
        </span>
      </h1>
      {% else %}
      <a href="/" class="c-brand c-brand--link">
        <span class="c-brand__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145 145">
            <path d="M72.6516972,0.000811539295 L72.6515424,0.15211727 C72.6515424,40.1090671 105.04305,72.5005749 145,72.5005749 L145,72.6515424 C105.04305,72.6515424 72.6515424,105.04305 72.6515424,145 L72.5005749,145 L72.5005749,145 C72.5005749,105.04305 40.1090671,72.6515424 0.15211727,72.6515424 L0.001,72.6518115 L0.00168757796,72.5004218 L0.15211727,72.5005749 C40.1090671,72.5005749 72.5005749,40.1090671 72.5005749,0.15211727 L72.4991498,0.001 L72.6516972,0.000811539295 Z"/>
          </svg>
        </span>
        <span class="c-brand__wordmark">
          <span class="c-brand__top">
            Smooth
          </span>
          <span class="c-brand__bottom">
            Sailing
          </span>
        </span>
      </a>
      {% endif %}

      <div class="c-header__group">
        <button aria-expanded="false" class="c-navigation-toggle js-nav-toggle">
          Menu
        </button>
        <nav class="c-navigation-holder js-nav">
          <ul class="c-navigation">
            <!-- Define your site navigation in data/nav.json -->
            {% for item in nav.main %}
            <li class="c-navigation__item {{ 'is-active' if item.url in page.url }}">
              <a href="{{ item.url }}" class="c-navigation__link">{{ item.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
        <div class="c-user-toggle">
          <div role="status" class="u-hidden-visually js-mode-status"></div>
          <button class="c-user-toggle__btn js-mode-toggle">
            <span class="c-user-toggle__light" aria-hidden="true">
              {% icon "light"  %}
            </span>
            <span class="c-user-toggle__dark" aria-hidden="true">
              {% icon "dark" %}
            </span>
            <span class="c-user-toggle__text js-mode-toggle-text">Switch light/dark mode</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
