/* ==================================
   #BRAND
   ================================== */

/* Variables
   ========================================================================== */


/* Component
   ========================================================================== */

.c-brand {
  @include font-size($h4,.9);
  font-family: $font-secondary;
  font-weight: 600;
  letter-spacing: .05rem;
  color: var(--brand);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: $unit-large;

  @include mq(medium) {
    @include font-size($h3,.9);
  }
}

.c-brand--link {
  text-decoration: none;

  &:focus {
    outline-offset: .4rem;
    outline: .2rem dashed var(--outline);
  }
}

.c-brand__wordmark {
  display: flex;
  flex-direction: column;
}

.c-brand__top {

}

.c-brand__bottom {

}

.c-brand__icon {
  width: $unit * 2;
  height: $unit * 2;
  margin-right: $unit-small;

  svg {
    fill: currentColor;
    width: 100%;
    height: 100%;
  }

  @include mq(medium) {
    width: $unit * 2.5;
    height: $unit * 2.5;
  }
}

.c-brand-icon {
  width: $unit * 2;
  height: $unit * 2;

  svg {
    fill: var(--theme-accent);
    width: 100%;
    height: 100%;
  }

  @include mq(medium) {
    width: $unit * 2.5;
    height: $unit * 2.5;
  }
}
