.c-cases {
  position: relative;
  z-index: 1;
  padding-left: $unit;
  padding-right: $unit;
  padding-bottom: $unit-large;

  &:before {
    content: "";
    position: absolute;
    top: calc(#{$unit-large} - 1px);
    left: 0;
    width: 100%;
    height: calc(100% - #{$unit-large} + 1px);
    background-color: var(--theme);
    border-top: 2px solid var(--theme-xlight);
    z-index: -1;
  }

  @include mq(small) {
    &:before {
      border-top-width: 1px;
    }
  }

  @include mq(medium) {
    padding-bottom: $unit-huge * 3;

    &:before {
      top: $unit-huge;
      height: calc(100% - #{$unit-huge} + 1px);
    }
  }

  @include mq(large) {
    padding-left: $unit-large;
    padding-right: $unit-large;
  }
}
