/* ==================================
   #CARD
   ================================== */

.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--theme-card);
}

.c-card--tint-one {
  background-color: $purple-800;
}

.c-card--tint-two {
  background-color: $blue-300;
}

.c-card--tint-three {
  background-color: $green-400;
}

.c-card--tint-four {
  background-color: $purple-200;
}

.c-card--tint-five {
  background-color: $red-400;
}

.c-card--tint-six {
  background-color: $blue-700;
}

.c-card__body {
  flex-grow: 1;
  background-color: $white;
}

.c-card__link {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.c-card__cta {
  @include font-size($base);
  color: var(--link-hover);
  letter-spacing: .05rem;
  opacity: 0;
  transition: opacity $transition;

  .c-card:hover &,
  .c-card:focus-within & {
    color: var(--link-hover);
    opacity: 1;
  }
}
