/* ==================================
   #CARD
   ================================== */

.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--theme-card);
}

.c-card--article {
  @include mq(medium) {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
  }
}

.c-card--tint-one {
  background-color: var(--tint-one);
}

.c-card--tint-two {
  background-color: var(--tint-two);
}

.c-card--tint-three {
  background-color: var(--tint-three);
}

.c-card--tint-four {
  background-color: var(--tint-four);
}

.c-card--tint-five {
  background-color: var(--tint-five);
}

.c-card--tint-six {
  background-color: var(--tint-six);
}

.c-card__body {
  flex-grow: 1;
  background-color: $white;
}

.c-card__main {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mq(medium) {
    width: calc(100% - #{$unit-huge*4 + $unit-large + $unit});
  }
}

.c-card__image {
  position: relative;
  flex-grow: 1;

  img {
    height: 100%;
    object-fit: cover;
  }

  @include mq(medium) {
    width: $unit-huge*4 + $unit-large + $unit;
  }
}

.c-card__link {
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.c-card__cta {
  @include font-size($h6);
  font-weight: 500;
  color: var(--link);
  opacity: 0;
  transition: opacity $transition;

  .c-card:hover &,
  .c-card:focus-within & {
    color: var(--link);
    opacity: 1;
  }
}

.c-card__footer {
  @include mq($until: medium) {
    display: none;
  }
}
