/* ==================================
   #CARD
   ================================== */

.c-footer {
  position: relative;
  z-index: 1;
  padding-bottom: $unit-large;
  padding-top: $unit-large;
  background-color: var(--theme-background);

  @include mq(medium) {
    padding-top: $unit-large;
    padding-bottom: $unit-large;
  }
}

.c-footer__main {
}

.c-footer__aside {
  text-align: left;
  align-self: end;
  padding-bottom: $unit-tiny;
  color: var(--navigation);

  @include mq($until: medium) {
    padding-top: $unit-large;
  }

  @include mq(medium) {
    padding-left: $unit-large;
    text-align: right;
  }
}
