/* ==================================
   #CARD
   ================================== */

.c-footer {

}

.c-footer__main {
}

.c-footer__aside {
  text-align: right;
  align-self: end;
  padding-bottom: $unit-tiny;
  padding-left: $unit-large;

  @include mq($until: medium) {
    padding-top: $unit-large;
  }
}
