/* ==================================
   #HERO
   ================================== */

.c-hero {
  position: relative;
  z-index: 1;
  padding-top: $unit-large;
  padding-bottom: $unit-large;
  background-color: var(--theme-secondary-background);

  @include mq(medium) {
    padding-top: $unit-large;
    padding-bottom: $unit-large * 2;
  }
}

.c-hero__content {
  position: relative;
}

.c-hero__title {
  position: relative;
}
