/* ==================================
   #ICONS
   ================================== */

.c-icon {
  display: block;
  width: 1em;
  height: 1em;
  position: relative;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
