/* ==================================
   #LINK
   ================================== */

.c-link {
  transition: color $transition;
  text-underline-offset: .1em;
  text-decoration-thickness: .2rem;

  > .c-icon {
    margin-right: $unit;
    margin-left: $unit;
    bottom: -.1ex;
  }

  &,
  &:visited {
    color: var(--link);
  }

  &:hover,
  &:focus {
    color: var(--link-hover);
    text-decoration: none;
  }

  &:focus {
    outline-offset: .2rem;
    outline: .2rem dashed var(--outline);
  }
}


.c-link--block {
  display: inline-flex;
  justify-content: center;
  background-color: var(--theme-cta);
  border-radius: $radius*3;
  padding: $unit/2 $unit*2 $unit*1.2;
  text-align: center;
  margin-top: $unit-small;
  margin-bottom: 0;

  &,
  &:visited {
    color: var(--theme-xxlight);
  }

  &:hover,
  &:focus {
    color: var(--theme-xxlight);
    text-decoration: none;
    background-color: var(--theme-cta);
  }

  &:focus {
    outline-offset: .2rem;
    outline: .2rem dashed var(--outline);
  }
}
