/* ==================================
   #NAVIGATION
   ================================== */

.c-navigation-toggle {
  @include font-size($base);
  font-family: $font-family;
  border: 0;
  font-weight: 500;
  letter-spacing: .05rem;
  position: absolute;
  z-index: 6;
  top: $unit-tiny*1.5;
  right: 0;
  color: var(--toggle);
  background-color: var(--toggle-background);
  border-radius: $unit-medium;
  display: block;
  padding: 0 $unit $unit-tiny;
  transition: background-color $transition;

  &:hover,
  &:focus {
    background-color: var(--toggle-hover-background);
  }

  .has-nav & {
    color: var(--toggle-active);
    background-color: var(--toggle-active-background);
  }

  @include mq(navigation) {
    display: none;
  }
}

.c-navigation-holder {
  @include mq($until: navigation) {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--navigation-holder);

    &.is-visible {
      right: 0;
    }
  }
}

.c-navigation {
  display: flex;
  align-items: center;

  @include mq($until: navigation) {
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}

.c-navigation__item {
  @include mq($until: navigation) {
    & + & {
      margin-top: $unit-large;
    }
  }

  @include mq(navigation) {
    & + & {
      margin-left: $unit-medium + $unit - $unit-small * 2;
    }
  }

  @include mq(large) {
    & + & {
      margin-left: $unit-large + $unit - $unit-small * 2;
    }
  }
}

.c-navigation__link {
  @include font-size($h5);
  display: block;
  color: var(--navigation);
  text-decoration: none;
  text-underline-offset: .1em;
  transition: color $transition;
  padding-bottom: $unit-tiny;
  padding-left: $unit;
  padding-right: $unit;
  font-weight: 500;


  &:hover,
  &:focus {
    color: var(--navigation-hover);
    text-decoration: underline;
    text-decoration-thickness: .2rem;
  }


  &:focus {
    outline-offset: .4rem;
    outline: .2rem dashed var(--outline);
  }

  .is-active > & {
    color: var(--navigation-active);
    background-color: var(--navigation-active-background);
    border-radius: $radius*2;
    text-decoration: none;
  }

  @include mq($until: navigation) {
    @include font-size($h1);

    .has-nav & {
      color: $white;
    }

    .has-nav &:hover,
    .has-nav &:focus {
      color: $white;
    }
  }

  @include mq(navigation) {
    padding-top: $unit-tiny;
    padding-bottom: $unit-tiny + $unit-tiny;
  }

  @include mq(medium) {
    @include font-size($h4);
    padding-top: 0;
    padding-bottom: $unit-tiny * 1.5;
  }
}
