/* ==================================
   #SKIPLINK
   ================================== */

/* Variables
   ========================================================================== */


/* Component
   ========================================================================== */

.c-skiplink {
  @include font-size($small,1);
  font-weight: 500;
  padding: $unit-tiny/2 $unit-tiny $unit-tiny;
  color: var(--theme-text);
  position: absolute;
  z-index: 6;
  white-space: nowrap;
  top: -1000px;
  left: -1000px;
  height: 1px;
  width: 1px;
  display: block;
  text-decoration: none;

  &,
  &:visited,
  &:hover,
  &:focus {
    color: var(--theme-text);
  }

  &:focus {
    width: auto;
    height: auto;
    top: $unit-large + $unit + $unit;
    left: $unit + $unit;
    outline-offset: .2rem;
    outline: .2rem dashed var(--outline);
  }

  @include mq(medium) {
    &:focus {
      top: $unit-large + $unit-large;
    }
  }

  @include mq(large) {
    &:focus {
      top: $unit;
      left: $unit;
    }
  }
}
