/* ==========================================================================
   #FONT
   ========================================================================== */

@font-face {
  font-family: "Soehne";
  font-weight: 300;
  src: url("/assets/fonts/soehne-web-leicht.woff2") format("woff2"),
       url("/assets/fonts/soehne-web-leicht.woff") format("woff"),
       url("/assets/fonts/soehne-web-leicht.eot") format("eot");
  font-display: fallback;
}

@font-face {
  font-family: "Soehne";
  font-weight: 500;
  src: url("/assets/fonts/soehne-web-kraftig.woff2") format("woff2"),
       url("/assets/fonts/soehne-web-kraftig.woff") format("woff"),
       url("/assets/fonts/soehne-web-kraftig.eot") format("eot");
  font-display: fallback;
}

@font-face {
  font-family: "Adieu";
  font-weight: 600;
  src: url("/assets/fonts/Adieu-Bold.woff2") format("woff2"),
       url("/assets/fonts/Adieu-Bold.woff") format("woff"),
       url("/assets/fonts/Adieu-Bold.eot") format("eot");
  font-display: fallback;
}
