/* ==========================================================================
   #FONT
   ========================================================================== */

@font-face {
  font-family: "Soehne";
  font-weight: 300;
  src: url("/assets/fonts/soehne-test-leicht.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Soehne";
  font-weight: 400;
  src: url("/assets/fonts/soehne-test-buch.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Soehne";
  font-weight: 500;
  src: url("/assets/fonts/soehne-test-halbfett.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Soehne";
  font-weight: 600;
  src: url("/assets/fonts/soehne-test-kraftig.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "Adieu";
  font-weight: 600;
  src: url("/assets/fonts/adieu-bold.woff2") format("woff2"),
       url("/assets/fonts/adieu-bold.woff") format("woff"),
       url("/assets/fonts/adieu-bold.eot") format("eot");
  font-display: fallback;
}
