/* ==========================================================================
   #FLOW
   ========================================================================== */

.o-flow {
  > * + * {
    margin-top: $unit;
  }

  @include mq(medium) {
    > * + * {
      margin-top: $unit + $unit;
    }
  }

  @include mq(large) {
    > * + * {
      margin-top: $unit-large;
    }
  }
}

.o-flow--large {
  > * + * {
    margin-top: $unit * 2;
  }

  @include mq(medium) {
    > * + * {
      margin-top: $unit * 3;
    }
  }

  @include mq(large) {
    > * + * {
      margin-top: $unit-large + $unit*2;
    }
  }
}
