/* ==========================================================================
   #FLEX
   ========================================================================== */

/* Variables
   ========================================================================== */



/* Default/mandatory classes.
   ========================================================================== */

.o-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
