/* ==========================================================================
   #ROW
   ========================================================================== */

/**
 * Creates even spaced responsive region using the default spacing variables.
 *
 *   <div class="o-row">
 *     <div class="o-wrapper">
 *     </div>
 *   </div>
 *
 */

/* Variables
   ========================================================================== */

$row-breakpoint : 1023px !default;
$row-unit       : $unit !default;
$row-unit-tiny  : $unit-tiny !default;
$row-unit-small : $unit-small !default;
$row-unit-medium : $unit-medium !default;
$row-unit-large : $unit-large !default;
$row-unit-large : $unit-huge !default;


/* Default classes.
   ========================================================================== */

.o-row {
  padding-top: $row-unit-medium;
  padding-bottom: $row-unit-medium;

  @include mq($row-breakpoint) {
    padding-top: $row-unit-large;
    padding-bottom: $row-unit-large;
  }
}

.o-row-small {
  padding-top: $row-unit-tiny;
  padding-bottom: $row-unit-tiny;

  @include mq($row-breakpoint) {
    padding-top: $row-unit-small;
    padding-bottom: $row-unit-small;
  }
}

.o-row-large {
  padding-top: $row-unit-large;
  padding-bottom: $row-unit-large;

  @include mq($row-breakpoint) {
    padding-top: $row-unit-large * 2;
    padding-bottom: $row-unit-large * 2;
  }
}


.o-row-huge {
  padding-top: $row-unit-large * 2;
  padding-bottom: $row-unit-large * 2;

  @include mq($row-breakpoint) {
    padding-top: $row-unit-large * 4;
    padding-bottom: $row-unit-large * 4;
  }
}
