/* ==========================================================================
   #SETUP ROOT VARIABLES
   ========================================================================== */

// Primary
:root {
  --color-mode: 'light';
  --brand: #{$blue-900};
  --theme: #{$blue-900};
  --theme-cta: #{$blue-600};
  --theme-text: #{$blue-900};
  --theme-light: #{$gray-300};
  --theme-xlight: #{$purple-300};
  --theme-xxlight: #{$white};
  --theme-border: #{$purple-300};
  --theme-tint: #{$white};
  --theme-tint-light: #{$gray-300};
  --theme-background: #{$red-500};
  --theme-border: #{$white};
  --theme-card: #{$white};
  --navigation-holder: #{$red-900};
  --navigation: #{$red-900};
  --navigation-hover: #{$red-800};
  --navigation-active: #{$red-500};
  --navigation-active-background: #{$red-900};
  --toggle: #{$red-500};
  --toggle-background: #{$red-900};
  --toggle-hover-background: #{$red-800};
  --toggle-active: #{$red-900};
  --toggle-active-background: #{$red-500};
  --link: #{$blue-800};
  --link-hover: #{$blue-800};
  --link-active: #{$blue-800};
  --selection: #{$purple-200};
  --outline: #{$red-200};
}

// Primary dark
@include dark-mode() {
  --brand: #{$blue-900};
  --theme: #{$blue-900};
  --theme-cta: #{$blue-600};
  --theme-text: #{$blue-900};
  --theme-light: #{$gray-300};
  --theme-xlight: #{$purple-300};
  --theme-xxlight: #{$white};
  --theme-border: #{$purple-300};
  --theme-tint: #{$white};
  --theme-tint-light: #{$gray-300};
  --theme-background: #{$red-500};
  --theme-border: #{$white};
  --theme-card: #{$white};
  --navigation-holder: #{$red-900};
  --navigation: #{$red-900};
  --navigation-hover: #{$red-800};
  --navigation-active: #{$red-500};
  --navigation-active-background: #{$red-900};
  --toggle: #{$red-500};
  --toggle-background: #{$red-900};
  --toggle-hover-background: #{$red-800};
  --toggle-active: #{$red-900};
  --toggle-active-background: #{$red-500};
  --link: #{$blue-800};
  --link-hover: #{$blue-800};
  --link-active: #{$blue-800};
  --selection: #{$purple-200};
  --outline: #{$red-200};
}
