/* ==========================================================================
   #SETUP ROOT VARIABLES
   ========================================================================== */

// Primary
:root {
  --color-mode: 'light';
  --brand: #{$blue-900};
  --theme: #{$red-900};
  --theme-light: #{$gray-300};
  --theme-xlight: #{$purple-200};
  --theme-xxlight: #{$gray-100};
  --theme-tint: #{$gray-400};
  --theme-tint-light: #{$gray-300};
  --theme-background: #{$red-300};
  --theme-border: #{$white};
  --theme-card: #{$white};
  --link: #{$red-800};
  --link-hover: #{$red-800};
  --link-active: #{$red-800};
  --selection: #{$purple-200};
  --outline: #{$purple-600};
}

// Primary dark
@include dark-mode() {
  --brand: #{$purple-400};
  --theme: #{$blue-100};
  --theme-light: #{$gray-300};
  --theme-xlight: #{$blue-700};
  --theme-xxlight: #{$gray-100};
  --theme-tint: #{$gray-400};
  --theme-tint-light: #{$gray-300};
  --theme-background: #{$blue-900};
  --theme-border: #{$white};
  --theme-card: #{$white};
  --link: #{$blue-300};
  --link-hover: #{$blue-300};
  --link-active: #{$blue-300};
  --selection: #{$blue-600};
  --outline: #{$blue-600};
}
