---
layout: base
title: Accessibility statement
---

{# Intro #}
<div class="o-layout__content-left">
  <div class="o-row-large o-flow">
    <h1 class="c-intro">{{title}}</h1>
  </div>
</div>

<div class="o-layout__content">
  <div class="o-row-large c-rich-text">
    <p>Smooth Sailing bv strives to make its websites and mobile applications accessible, in accordance with the Administrative Decree of 7 December 2018.</p>

    <p>This accessibility statement applies to <a href="https://www.smoothsailing.be/">https://www.smoothsailing.be/</a></p>

    <h2>Compliance status</h2>

    <p>This web application complies with the Web Content Accessibility Guidelines (WCAG) 2.1 Level AA.</p>

    <h2>Preparation of this accessibility statement</h2>

    <p>This accessibility statement was drawn up on 02/30/2020.</p>

    <p>For this accessibility statement, the accessibility of the mentioned web application was assessed by Smooth Sailing.</p>

    <h2>Feedback and contact information</h2>

    <p>For all questions and comments about the accessibility of the mentioned websites of Smooth Sailing bv, please contact <a href="mailto:accessibility@smoothsailing.be">accessibility@smoothsailing.be</a>.</p>

    <h2>Enforcement Procedure</h2>
    <p>In case of unsatisfactory answers to your questions and comments, you can contact Smooth Sailing via the details below.</p>
    <p>
      <strong>Smooth Sailing bv</strong><br>
      Adres<br>
      <a href="mailto:accessibility@smoothsailing.be">accessibility@smoothsailing.be</a>
    </p>
  </div>
</div>
