---
layout: base
title: Accessibility statement
---

{# Intro #}
<div class="o-layout__content-left">
  <div class="o-row-large o-flow">
    <h1 class="c-intro">{{title}}</h1>
  </div>
</div>

<div class="o-layout__content">
  <div class="o-row-large c-rich-text">
    <p>madewithlove BV is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.</p>

    <h2>Conformance status</h2>

    <p>The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. Smooth Sailing is fully conformant with WCAG 2.1 level AA. Fully conformant means that the content fully conforms to the accessibility standard without any exceptions. </p>

    <h2>Feedback</h2>
    <p>We welcome your feedback on the accessibility of Smooth Sailing. Please let us know if you encounter accessibility barriers on Smooth Sailing:</p>
    <ul>
      <li>E-mail: <a href="mailto:hannes@madewithlove.be">hannes@madewithlove.be</a></li>
      <li>Address: Sluisstraat 79/03.01, 3000 Leuven, Belgium</li>
    </ul>
    <p>We try to respond to feedback within 2 business days.</p>
    <p>This statement was created on 2 December 2020 using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.</p>
  </div>
</div>
