---
layout: base
title: Accessibility statement
theme: "c-theme-generic"
metaTitle: "Smooth Sailing - Accessibility statement"
metaDescription: "We are continually improving the user experience for everyone, and applying the relevant accessibility standards."
---

{# Intro #}
<div class="o-layout__full c-hero c-graphic">
  <div class="c-graphic__item c-graphic__item--border c-graphic__item--fill c-graphic__item--bottom" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6600 3300">
      <path d="M3300,6600 C3300,4777.63926 1822.31257,3300 0,3300 C1822.31257,3300 3300,1822.79429 3300,0.0481723695 C3300,1822.79429 4777.63926,3300 6600,3300 C4777.63926,3300 3300,4777.63926 3300,6600"/>
    </svg>
  </div>

  <div class="o-layout o-flow o-flow--large c-hero__content">
    <div class="o-layout__page-title">
      <h1 class="c-page-intro c-hero__title">
        Accessibility<br> statement
      </h1>
    </div>
  </div>
</div>

<div class="o-layout o-layout__full c-container c-container--primary">
  <div class="o-layout__content c-rich-text">
    <p>madewithlove BV is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.</p>

    <h2>Conformance status</h2>

    <p>The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. Smooth Sailing is fully conformant with WCAG 2.1 level AA. Fully conformant means that the content fully conforms to the accessibility standard without any exceptions. </p>

    <h2>Feedback</h2>
    <p>We welcome your feedback on the accessibility of Smooth Sailing. Please let us know if you encounter accessibility barriers on Smooth Sailing:</p>
    <ul>
      <li>E-mail: <a href="mailto:hannes@madewithlove.be">hannes@madewithlove.be</a></li>
      <li>Address: Sluisstraat 79/03.01, 3000 Leuven, Belgium</li>
    </ul>
    <p>We try to respond to feedback within 2 business days.</p>
    <p>This statement was created on 2 December 2020 using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.</p>
  </div>
</div>
