---
layout: base
title: Contact
section: "Contact us"
theme: "c-theme-tertiary"
metaTitle: "Smooth Sailing - Contact us"
metaDescription: "Mail Hannes via captain@smoothsailing.be, he is mighty fast with replying."
metaImage: ""
---

{# Intro #}
<div class="o-layout__full c-hero c-graphic">
  <div class="c-graphic__item c-graphic__item--border c-graphic__item--fill c-graphic__item--bottom" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6600 3300">
      <path d="M3300,6600 C3300,4777.63926 1822.31257,3300 0,3300 C1822.31257,3300 3300,1822.79429 3300,0.0481723695 C3300,1822.79429 4777.63926,3300 6600,3300 C4777.63926,3300 3300,4777.63926 3300,6600"/>
    </svg>
  </div>

  <div class="o-layout o-flow o-flow--large c-hero__content">
    <div class="o-layout__page-title">
      <h1 class="c-page-intro c-hero__title">
        Contact us
      </h1>
    </div>
  </div>
</div>

{# About #}
<div class="o-layout__full c-container c-container--primary c-graphic">
  <div class="o-layout c-container__content">
    <div class="o-layout__pre-cta-left o-flow">
      <p class="c-lead">
        If you’re bobbing around in client requests, prioritization and interface patterns, let us know. We’ll come and save your soul!
      </p>
      <p class="c-lead">
        <strong>Contact Hannes via:</strong><br> <a href="mailto:captain@smoothsailing.be" class="c-link c-link--block">{% icon "mail" %}captain@smoothsailing.be</a>
      </p>
      <p class="c-lead">
        He will reply - mighty fast - with some moments to have a call.
        <strong>Be prepared for endless puns.</strong>
      </p>
    </div>
  </div>

  <div class="c-container__image-right">
    {% image "jpg", "hannes", "alt text", "c-image--about" %}
  </div>
</div>
