---
layout: base
title: Home
---

{# Intro #}
<div class="o-row-large o-layout__full o-layout o-flow">
  <div class="o-layout__content">
    <p class="c-intro">
      A design studio for durable design.
    </p>
  </div>
  <div class="o-layout__content-right">
    <p class="c-lead">
      We design your digital products and help shape all processes for a user centered organization. This involves user research, UX design, product decision making, understanding your business and a good amount of people skills.
    </p>
  </div>
</div>

{# Services #}
<div class="o-row o-layout__full o-layout">
  {# Section title #}
  <h1 class="u-hidden-visually">Cases</h1>

  {# Article #}
  <div class="o-layout__right">
    <article class="o-box c-rich-text c-rich-text--short">
      {# {% image "ab-hero", "alt text", "c-image--full" %} #}
      <h2>Flexmail</h2>
      <p>We guided this e-mail marketing tool into a new century, from product vision to finding the right sailors.</p>
      <p><a href="#!" target="_blank" rel="noreferrer noopener" class="c-link">Visit site</a></p>
    </article>
  </div>

  <div class="o-layout__left">
    <article class="o-box c-rich-text c-rich-text--short">
      {# {% image "ab-hero", "alt text", "c-image--full" %} #}
      <h2>Sweepbright</h2>
      <p>We sparked the first concepts of this start-up based on the hours we spent in a real estate brokers car.</p>
      <p><a href="#!" target="_blank" rel="noreferrer noopener" class="c-link">Visit site</a></p>
    </article>
  </div>

  {# Article #}
  <div class="o-layout__center">
    <article class="o-box c-rich-text c-rich-text--short">
      {# {% image "mealhero-2", "alt text", "c-image--full" %} #}
      <h2>Teamleader</h2>
      <p>We dove into the way agencies and construction companies organise their metaphorical shipyards. Hint: they work very hard..</p>
      <p><a href="#!" target="_blank" rel="noreferrer noopener" class="c-link">Visit site</a></p>
    </article>
  </div>

  {# Article #}
  <div class="o-layout__right">
    <article class="o-box c-rich-text c-rich-text--short">
      {# {% image "mrsmr-5", "alt text", "c-image--full" %} #}
      <h2>SchoolOnline</h2>
      <p>We researched how student care is done in primary schools and how software could support that.</p>
      <p><a href="#!" target="_blank" rel="noreferrer noopener" class="c-link">Visit site</a></p>
    </article>
  </div>

  {# Article #}
  <div class="o-layout__left">
    <article class="o-box c-rich-text c-rich-text--short">
      {# {% image "mealhero-2", "alt text", "c-image--full" %} #}
      <h2>Open Summer of Code & Hack your future</h2>
      <p>We coached students and refugees to a higher level of open data product design. We even hired some of them along the way.</p>
      <p><a href="#!" target="_blank" rel="noreferrer noopener" class="c-link">Visit site</a></p>
    </article>
  </div>
</div>

{# About #}
<div class="o-layout__content-right">
  <div class="o-row-large o-flow">
    <h1 class="c-intro">Sail with us!</h1>
    <p class="c-lead">
      We believe that software design is a continuous process of matching the needs of your users with your business goals and engineering roadmap. And no, that is never a smooth sail, but we are always on your side.
    </p>
    <p class="c-lead">
      If you’re bobbing around in client requests, prioritization and interface patterns, let us know. We’ll come and save your soul!
    </p>
  </div>
</div>

<div class="o-layout__content-left">
  <div class="o-row-large o-flow">
    <p class="c-intro">
      Contact our captain via <a href="mailto:hannes@smoothsailing.be" class="c-link">hannes@smoothsailing.be</a>. <br>And be prepared for endless puns.
    </p>
  </div>
</div>
