---
layout: base
title: Home
section: "Home"
theme: "c-theme-primary"
metaTitle: "Smooth Sailing - Durable design studio"
metaDescription: "We design your digital products and shape all processes for a user centered organization."
metaImage: ""
---

{# Intro #}
<div class="c-hero o-layout__full c-graphic">
  <div class="c-graphic__item c-graphic__item--border c-graphic__item--fill c-graphic__item--bottom" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6600 3300">
      <path d="M3300,6600 C3300,4777.63926 1822.31257,3300 0,3300 C1822.31257,3300 3300,1822.79429 3300,0.0481723695 C3300,1822.79429 4777.63926,3300 6600,3300 C4777.63926,3300 3300,4777.63926 3300,6600"/>
    </svg>
  </div>

  <div class="o-layout o-flow o-flow--large c-hero__content">
    <div class="o-layout__page-title">
      <p class="c-page-intro c-hero__title">
        A design studio<br> for <a href="https://uxdesign.cc/time-for-software-design-to-grow-up-86fc11c0efbb" target="_blank" rel="noopener noreferrer" class="c-link">durable design</a>.
      </p>
    </div>
    <div class="o-layout__content-right">
      <p class="c-page-lead">
        <strong>We design your digital products and help shape all processes for a user centered organization.</strong> This involves user research, UX design, product decision making, understanding your business and a good amount of people skills.
      </p>
    </div>
  </div>
</div>

{# Services #}
<div class="o-layout__full c-graphic c-cases">
  <div class="c-graphic__item c-graphic__item--border c-graphic__item--fill c-graphic__item--top" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6600 3300">
      <path d="M3300,3300 C3300,1477.62596 1822.31257,-0.0240863606 0,-0.0240863606 C1822.31257,-0.0240863606 3300,-1477.24058 3300,-3300 C3300,-1477.24058 4777.63926,-0.0240863606 6600,-0.0240863606 C4777.63926,-0.0240863606 3300,1477.62596 3300,3300"/>
    </svg>
  </div>

  {# Section title #}
  <h2 class="u-hidden-visually">Cases</h2>

  <div class="o-grid c-grid-offset">
    {# Article #}
    <div class="o-grid__item u-3/4@small u-1/2@medium">
      <article class="c-card c-card--tint-one">
        {% image "png", "flexmail", "alt text", "c-image--full" %}
        <div class="o-box o-box--large c-card__body c-rich-text c-rich-text--short">
          <h3>Flexmail</h3>
          <p>We guided this e-mail marketing tool into a new century, from product vision to finding the right sailors.</p>
        </div>
      </article>
    </div>

    <div class="o-grid__item u-3/4@small u-1/2@medium">
      <article class="c-card c-card--tint-two">
        {% image "png", "sweepbright", "alt text", "c-image--full" %}
        <div class="o-box o-box--large c-card__body c-rich-text c-rich-text--short">
          <h3>Sweepbright</h3>
          <p>We sparked the first concepts of this start-up based on the hours we spent in a real estate brokers car.</p>
        </div>
      </article>
    </div>

    <div class="o-grid__item u-3/4@small u-1/2@medium">
      <article class="c-card c-card--tint-three">
        {% image "png", "teamleader", "alt text", "c-image--full" %}
        <div class="o-box o-box--large c-card__body c-rich-text c-rich-text--short">
          <h3>Teamleader</h3>
          <p>We dove into the way agencies and construction companies organise their metaphorical shipyards. Hint: they work very hard.</p>
        </div>
      </article>
    </div>

    <div class="o-grid__item u-3/4@small u-1/2@medium">
      <article class="c-card c-card--tint-four">
        {% image "png", "liantis", "alt text", "c-image--full" %}
        <div class="o-box o-box--large c-card__body c-rich-text c-rich-text--short">
          <h3>Liantis</h3>
          <p>We merged all 23 client tools from three intranets into one consistent way of working. To get to that point we card-sorted with entrepreneurs and their accountants.</p>
        </div>
      </article>
    </div>

    <div class="o-grid__item u-3/4@small u-1/2@medium">
      <article class="c-card c-card--tint-five">
        {% image "png", "schoolonline", "alt text", "c-image--full" %}
        <div class="o-box o-box--large c-card__body c-rich-text c-rich-text--short">
          <h3>SchoolOnline</h3>
          <p>We researched how student care is done in primary schools and how software could support that.</p>
        </div>
      </article>
    </div>

    <div class="o-grid__item u-3/4@small u-1/2@medium">
      <article class="c-card c-card--tint-six">
        {% image "png", "osoc", "alt text", "c-image--full" %}
        <div class="o-box o-box--large c-card__body c-rich-text c-rich-text--short">
          <h3>Open Summer of Code & Hack your future</h3>
          <p>We coached students and refugees to a higher level of open data product design. We even hired some of them along the way.</p>
        </div>
      </article>
    </div>
  </div>
</div>

{# About #}
<div class="o-layout__full c-about c-graphic">
  <div class="c-about__image">
    {% image "jpg", "team", "alt text", "c-image--about" %}
  </div>

  <div class="o-layout c-about__content">
    <div class="o-layout__pre-cta o-flow">
      <h1 class="c-intro">Sail with us!</h1>
      <p class="c-lead">
        We believe that software design is a continuous process of matching the needs of your users with your business goals and engineering roadmap. And no, that is never a smooth sail, but we are always on your side.
      </p>
      <p class="c-lead">
        <strong>If you’re bobbing around in client requests, prioritization and interface patterns, let us know. We’ll come and save your soul!</strong>
      </p>
    </div>
  </div>
</div>

<div class="o-layout__full o-layout c-contact">
  <div class="o-layout__cta">
    <p class="c-page-cta">
      Contact Hannes via<br> <a href="mailto:captain@smoothsailing.be" class="c-link">captain&#8203;@&#8203;smoothsailing.be</a>. <br>And be prepared for<br> endless puns.
    </p>
  </div>
</div>
