---
layout: base
---

<div class="o-layout__full">
  <div class="o-box c-tint-one">
    <h1>Full</h1>
  </div>
</div>

<div class="o-layout__container">
  <div class="o-box c-tint-three">
    <h1>Container</h1>
  </div>
</div>

<div class="o-layout__left">
  <div class="o-box c-tint-one">
    <h1>Left</h1>
  </div>
</div>

<div class="o-layout__center">
  <div class="o-box c-tint-two">
    <h1>Center</h1>
  </div>
</div>

<div class="o-layout__right">
  <div class="o-box c-tint-three">
    <h1>Right</h1>
  </div>
</div>

<div class="o-layout__aside-left">
  <div class="o-box c-tint-three">
    <h1>Aside - left</h1>
  </div>
</div>

<div class="o-layout__aside-right">
  <div class="o-box c-tint-two">
    <h1>Aside - right</h1>
  </div>
</div>

<div class="o-layout__content">
  <div class="o-box c-tint-one">
    <h1>Content</h1>
  </div>
</div>

<div class="o-layout__content-left">
  <div class="o-box c-tint-five">
    <h1>Content - left</h1>
  </div>
</div>

<div class="o-layout__content-right">
  <div class="o-box c-tint-four">
    <h1>Content - right</h1>
  </div>
</div>
