/* ==================================
   #SHAME
   A place to write quick fixes and temporary hacks.
   ================================== */

.c-grid-offset {
  margin: 0;

  @include mq($until: small) {
    > .o-grid__item:nth-child(odd) {
      position: relative;
      padding-right: $unit * 3;
    }

    > .o-grid__item:nth-child(even) {
      position: relative;
      padding-left: $unit * 3;
    }
  }

  @include mq(small) {
    > .o-grid__item:nth-child(even) {
      position: relative;
      right: -25%;
    }
  }

  @include mq(medium) {
    margin-bottom: 192px;
    margin-left: $unit;
    margin-right: $unit;

    > .o-grid__item:nth-child(odd) {
      position: relative;
      top: 192px;
    }

    > .o-grid__item:nth-child(even) {
      position: relative;
      right: auto;
    }
  }

  @include mq(large) {
    margin-left: $unit*1.5;
    margin-right: $unit*1.5;
  }
}
