---
layout: base
---

{# Intro #}
<article class="o-layout__full o-layout">
  <div class="o-layout__aside-left o-row-large">
    <p class="c-lead"><a href="/articles" class="c-link">{% icon "back" %} Back to articles</a></p>
  </div>
  <div class="o-layout__content-right o-row-large">
    <h1 class="c-intro">{{ title }}</h1>
  </div>
  <div class="o-layout__content o-row-large c-rich-text c-rich-text--article">
    {{ content | safe }}
  </div>
</article>

{# Articles #}
<div class="o-layout__container">
  <div class="o-row-large">
    {# Section title #}
    <h1 class="c-intro u-margin-bottom-large">Other articles</h1>

    <div class="o-grid">
      {% for article in collections.articles.slice(0, 3) %}
      {% if article.data.title != title %}
      <div class="o-grid__item u-1/2@small u-1/3@large">
        <article class="c-card">
          <div class="o-box o-box--large c-rich-text c-card__body">
            <h2><a href="{{ article.url | url }}" class="c-link c-card__link">{{ article.data.title }}</a></h2>
            <p>
              {{ article.data.excerpt }}
            </p>
          </div>
          <div class="o-box o-box--large u-padding-top-none c-card__footer" aria-hidden="true">
            <p class="c-card__cta">Continue reading</p>
          </div>
        </article>
      </div>
      {% endif %}
      {% endfor %}
      <div class="o-grid__item u-1/2@small u-1/1@large">
        <div class="o-box o-box--large u-align-right">
          <p class="c-lead">
            <a href="/articles" class="c-link">More articles {% icon "arrow" %}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
