
$white: #FFFFFF;
$black: #000000;

$gray-1000: #000000;
$gray-900: #252122;
$gray-800: #3E383A;
$gray-700: #5F5659;
$gray-600: #786D71;
$gray-500: #9F9598;
$gray-400: #BFB9BB;
$gray-300: #D4CFD1;
$gray-200: #EAE7E8;
$gray-100: #F5F4F4;

$green-900: #00242C;
$green-800: #0D5441;
$green-700: #148566;
$green-600: #1CB78D;
$green-500: #37D2A8;
$green-400: #93E7D0;
$green-300: #ACECDB;
$green-200: #D8F3EC;
$green-100: #EDF8F5;

$blue-900: #080D34;
$blue-800: #0F1962;
$blue-700: #15248E;
$blue-600: #1C63BA;
$blue-500: #64BDED;
$blue-400: #82D6F7;
$blue-300: #9FDFF9;
$blue-200: #D2EEF9;
$blue-100: #EEF8FC;

$red-900: #51001C;
$red-800: #84002E;
$red-700: #A51D3D;
$red-600: #E24660;
$red-500: #F26B78;
$red-400: #F48590;
$red-300: #F8ABB2;
$red-200: #F7CACE;
$red-100: #FAEAEC;

$purple-900: #22143E;
$purple-800: #462268;
$purple-700: #802E8E;
$purple-600: #D75694;
$purple-500: #F0668F;
$purple-400: #F386A7;
$purple-300: #F6A2BB;
$purple-200: #F8D3DE;
$purple-100: #FAEAEF;
