/* Background color, AA Contrast with 700 or more. */
$gray-100: #F3F5F6;
/* Background color, AA Contrast with 700 or more. */
$gray-200: #E6E8EB;
/* Background color, AA Contrast with 700 or more. */
$white: #FFFFFF;
/* Text color, AA Contrast with 100 or less. */
$gray-1000: #000000;
/* Background color, AA Contrast with 700 or more. */
$gray-300: #C9D1DA;
/* Text color, AA Contrast with 100 or less. */
$gray-400: #AFBBC9;
/* Text color, AA Contrast with 100 or less. */
$gray-500: #8E98A6;
/* Text color, AA Contrast with 100 or less. */
$gray-600: #69717C;
/* Text color, AA Contrast with 100 or less. */
$gray-700: #545961;
/* Text color, AA Contrast with 100 or less. */
$gray-800: #363B40;
/* Text color, AA Contrast with 100 or less. */
$gray-900: #202326;

$pink-900: #2D060E;
$pink-600: #F297AA;
$pink-200: #F7B6C3;
$pink-100: #FCE4E9;

$yellow-600: #FDE72A;
$blue-600: #4BBED7;
$orange-600: #EF7D26;
